<h1><%= @place["name"] %></h1>

<h2>Journal Entries</h2>
<ul>
 <% for entry in @entries %>
    <li>
    <p> <strong> Title: </strong>
      <%= entry["title"] %>
    </p>
    
    <p> <strong> Date: </strong>
      <%= entry["occurred_on"] %>
    </p>
    
    <p> <strong> Description: </strong>
      <%= entry["description"] %>
    </p>
    </li>

<%end%>
</ul>

<p>
  <a href="/entries/new?place_id=<%=params["id"]%>">
    <button> 
      Add a new Entry
    </button>
  </a>

</p>


<p>
  <a href="/places/">
    <button>
      Back to Places
    </button>
  </a>
</p>